.ButtonSytle {
    width: 151px;
    height: 23px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.87);
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.ButtonSytle:hover {
    width: 151px;
    height: 23px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.87);
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(255, 197, 54, 0.09);
}

.ButtonSytle:active {
    width: 151px;
    height: 23px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: rgb(233, 193, 0);
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(200, 145, 10, 0.69);
}
